# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.exe
*.exe~
*.dll
*.so
*.o
*.a
*.dylib
__debug_bin

# pkger generated
**/pkged.go

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# Folders
_obj
_test

# Test binary, built with `go test -c`
*.test

*.prof
_testmain.go

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
/Godeps/

/.go

### vscode ###
/.vscode/launch_local.json

/.go
/.idea
/bin
/coverage.txt
/dist

.DS_Store
